<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pub.name %></title>
    <link rel="stylesheet" href="/vendor/materialize.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/pub-page.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/vendor/jquery-3.5.1.min.js"></script>
    <script src="/vendor/materialize.min.js"></script>
    <script src="/js/sidenav.js"></script>
    <script src="/js/pub-page.js"></script>
</head>
<body>
    <!-- NAV BAR INCLUDE -->
    <%- include ('partials/side-nav.ejs'); %>
    <% const days = ['Monday', 'Tueday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']; %>
    <main class="container">
        <div class="col s1"></div>
        <div class="col s10">
            <div class="section"></div>
            <div class="section"></div>
            <div class="z-depth-3 row" id="pub-display"> 
                <h2 class="center"><%- pub.name %></h2> 
                <div class="col s3">
                    <h5>Opening Times</h5>
                    <p>
                    <% for (let i = 1; i <= 7; i++) { %>
                        <% let openDay = false %> 
                        <% opening_times.forEach(oh => { 
                            if (oh.day == i) {
                                openDay = true;
                                %> <%- days[i - 1] %>: <%- oh.open.substring(0, 5) %> - <%- oh.close.substring(0, 5) %></br> <%
                            } 
                        }); %>
                        <% if (!openDay) { %> <%- days[i - 1] %>: Closed </br> <% } %>
                    <% } %> 
                    </p> 
                </div>
                <div class="col s6">
                    <h5>About</h5>
                    <p><%- pub.description %></p>
                </div>
                <div class="col s3">
                    <h5>Contact Info</h5>
                    <p>
                        <%- pub.email %></br>
                        <%- pub.phone %></br>
                    </p>
                </div>
            </div>
            <div class="section"></div>
            <div class="row" id="search-block">
                <div class="col s4 z-depth-3" id="booking-section">
                    <h3 class="center">Book a table</h3>
                    <div id="inputs">
                        <p>Date:</p>
                        <input type="text" class="datepicker" id="datepicker">

                        <div id="time-div">
                            <p>Time:</p>
                            <select id="time-select">
                            </select>
                        </div>
                        
                        <div id="duration-div">
                            <p>Duration:</p>
                            <select id="duration-select">
                            </select>
                        </div>

                        <p>Required Seats:</p>
                        <input type="Number" id="seats" value="4" min="1" max="20">

                        <p>Table location:</p>
                        <select id="location-select">
                            <option value="-1">Anywhere</option>
                            <option value="0">Inside</option>
                            <option value="1">Outside</option>
                        </select>
                        <div class="section"></div>
                        <a class="waves-effect waves-light btn" id="find-tables-btn">Find Tables</a>
                    </div>
                    <div class="section"></div>
                </div>
                <div class="col s1"></div>
                <div class="col s7 z-depth-3" id="tables-section">
                    <h3 class="center">Available tables</h3>
                    <div class="divider"></div>
                    <div class="progress" id="loading-bar" style="display: none;">
                        <div class="indeterminate"></div>
                    </div> 
                    <div class="col s2"></div>
                    <div id="table-list" class="col s8">
                    </div>
                    <div class="col s2"></div>
                </div>
            </div>
            <div class="row" id="booking-block">
                <div class="col s2"></div>
                <div class="col s8 z-depth-3" id="booking-outcome">

                </div>
                <div class="col s2"></div>
            </div>
            <div class="section"></div>
            <div class="section"></div>
        </div>
        <div class="col s1"></div>
    </main>
    <!-- NAV BAR INCLUDE -->
    <%- include ('partials/footer.ejs'); %>
</body>
</html>
